<p [ngStyle]="{'backgroundColor': dado1 > dado2 ? 'red' : (dado2 > dado1) ? 'green' : 'blue'}">dado1: {{dado1}}</p>
<p [ngStyle]="{'backgroundColor': dado2 > dado1 ? 'red' : (dado1 > dado2) ? 'green' : 'blue'}">dado2: {{dado2}}</p>

<p>
    <span *ngIf="dado1>dado2"> Vince dado 1</span>
    <span *ngIf="dado2>dado1"> Vince dado 2</span>
    <span *ngIf="dado1===dado2"> Pareggio</span>
</p>

<img src="{{pathDado1}}" alt="dado {{dado1}}" style="width: 10vw;">
<hr>
<img [src]="pathDado2" alt="dado {{dado2}}" style="width: 10vw;">